.services-8 {
    background: #F8F8F8;
    position: relative;

    &__item {
        background: #FFFFFF;
        border: 1px solid rgba(20, 24, 32, 0.1);
        text-align: center;
        padding: 60px 33px;
        transition: .3s;


        &.item {
            &-1 {
                margin-left: 1px;
            }

            &-3 {
                margin-left: 1px;
            }
        }
    }

    & .swiper-slide-active {
        & .services-8 {
            &__item {
                background: #FFFFFF;
                border-color: #fff;
                box-shadow: 0px 30px 65px rgba(20, 24, 32, 0.1);
            }
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        color: #141820;
        text-transform: none;
        margin-top: 25px;
        margin-bottom: 9px;
        font-family: $text-font2;

        @media #{$xs} {
            font-size: 23px;
        }

        a {
            &:hover {
                color: #FF5E14;
            }
        }
    }

    &__dec {
        font-size: 16px;
        font-weight: 400;
        color: #53545A;
        line-height: 26px;
        margin-bottom: 40px;
        text-transform: capitalize;
        font-family: $text-font2;
    }

    &__btn {
        a {
            font-size: 16px;
            color: #141820;
            font-weight: 600;
            font-family: $text-font2;
            position: relative;
            transition: .3s;

            i {
                width: 34px;
                height: 34px;
                border-radius: 500px;
                border: 1px solid rgb(20 24 32 / 14%);
                text-align: center;
                line-height: 34px;
                margin-left: 5px;
                transition: .3s;
            }

            &:hover {
                color: #FF5E14;

                i {
                    background: #FF5E14;
                    border-color: #FF5E14;
                    color: #fff;
                }
            }
        }
    }

    &__pagination {
        margin-top: 60px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        & .swiper-pagination-bullet {
            width: 60px;
            height: 10px;
            background: rgba(255, 94, 20, 1);
            border-radius: 5px;

            &-active {
                background: rgba(255, 94, 20, 1);
            }
        }
    }

    &__shape {
        position: absolute;

        &__01 {
            bottom: 314px;
            left: 0;
        }

        &__02 {
            top: 0;
            right: 0;
        }
    }
}